<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--移动端布局-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>归档</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link href="../static/css/me.css" rel="stylesheet">
</head>
<body>
<!--导航-->
<!--ui inverted segment是一个黑色的条，inverted是变成黑色的（反转），attached是让黑条没有圆角贴附在上面-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu ">
            <h2 class="ui teal header item">blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <!--用div把搜索框包起来放到右边-->
            <div class="right item m-mobile-hide">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block m-text-thin">14</h3>篇
                </div>
            </div>
        </div>

        <h2 class="ui center aligned header">2021</h2>
        <div class="ui fluid vertical menu">
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
        </div>

        <h2 class="ui center aligned header">2020</h2>
        <div class="ui fluid vertical menu">
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
        </div>

        <h2 class="ui center aligned header">2019</h2>
        <div class="ui fluid vertical menu">
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">5月12日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
        </div>
    </div>
</div>
<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <!--二维码列-->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/image/wechat.png" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>

            </div>
            <!--第二列，占3个div（一个16个）-->
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <!--第三列-->
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Tel:18342210855</a>
                    <a href="#" class="item">Email:438599598@qq.com</a>
                    <a href="#" class="item">WeChat:18342210855</a>
                </div>
            </div>
            <!--最后一列-->
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">BLOG</h4>
                <p class=" m-text-thin m-text-spaced m-opacity-mini">yyy的个人博客</p>
            </div>
        </div>

        <!--最底部的线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">
            2021 Designed by yyy
        </p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('#payButton').popup({
        popup: $('.payQR.popup'),
        on: 'click',
        position: 'bottom center'
    });
</script>

</body>
</html>